body {
    background-color: #1f1f1f;
    color: #fff;
    font-family: Arial, sans-serif;
}

h2 {
    text-align: center;
}

p {
    text-align: center;
}

form {
    max-width: 300px;
    margin: 0 auto;
    padding: 20px;
    background-color: #333;
    border-radius: 5px;
}

form input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: none;
    background-color: #555;
    color: #fff;
}

a {
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ff4d4d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

a:hover {
    background-color: #ff3333;
}

form button[type="submit"] {
    display: block;
    width: 100%;
    padding: 10px;
    border: none;
    background-color: #ff4d4d;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

form button[type="submit"]:hover {
    background-color: #ff3333;
}

ul {
    list-style-position: inside;
    padding-left: 0;
    list-style-type: none;
    color: #ff3333;
    
}

li {
    text-align: center;
    padding: 10px;
}

