{% extends 'base.html' %}
{% load static %}

{% block content %}

<link href="{% static 'css/userprofile.css' %}" rel="stylesheet">


<div class="task-container">
  {% for task in tasks %}
  <div class="task-block">
    <h3>{{ task.title }}</h3>
    <p>{{ task.text }}</p>
    <p>Дата и время: {{ task.deadline }}</p>
    <p>Выполнено ? <input type="checkbox" {% if task.completed %}checked{% endif %} onclick="markCompleted({{ task.id }}, this)"></p>
    <p>Дата выполнения: {{ task.reminder_time }}</p>
    <a href="{% url 'task_edit' task.id %}" class="edit-task">Редактировать</a>
    <form id="delete-form-{{ task.id }}" method="POST" action="{% url 'task_delete' task.id %}">
      {% csrf_token %}
      <button type="submit" onclick="return confirmDelete()">Удалить</button>
    </form>
  </div>
  {% empty %}
  <p>У вас нет активных задач</p>
  {% endfor %}
</div>


<script>
  function confirmDelete() {
    return confirm('Вы уверены, что хотите удалить задачу?');
  }
  
  function deleteTask(taskId) {
    // Отправить запрос на сервер для удаления задачи
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch(`/task/${taskId}/delete/`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      }
    })
    .then(response => {
      // Обработка ответа
      if (response.ok) {
        // Задача успешно удалена
        // Выполните необходимые действия, если требуется
      } else {
        // Обработка ошибки при удалении задачи
      }
    })
    .catch(error => {
      // Обработка ошибки
    });
  }
  
  function markCompleted(taskId, checkbox) {
    // Отправить запрос на сервер для обновления статуса выполнения задачи
    const csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    fetch(`/task/${taskId}/complete`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': csrftoken
      },
      body: JSON.stringify({
        completed: checkbox.checked,
        delete_task: checkbox.checked ? 'true' : 'false' // Установка значения поля delete_task
      })
    })
    .then(response => {
      // Обработка ответа
      if (response.ok) {
        // Задача успешно обновлена
        if (checkbox.checked) {
          // Галочка установлена
          if (confirmDelete()) {
            // Пользователь подтвердил удаление задачи
            deleteTask(taskId);
          } else {
            // Пользователь отменил удаление задачи
            // Выполните необходимые действия, если требуется
          }
        } else {
          // Галочка снята
          // Выполните необходимые действия, если требуется
        }
      } else {
        // Обработка ошибки при обновлении задачи
      }
    })
    .catch(error => {
      // Обработка ошибки
    });
  }
</script>

<h1>Ежедневник</h1>
<a href="{% url 'task_create' %}"class="task-create">Добавить новую задачу</a>

<div class="notifications">
  <h5>Уведомления:</h5>
  <h6>Задачи:</h6>
  <ul>
    {% for notification in notifications %}
      {% if notification.task %}
        <li id="notification-{{ notification.id }}">
          {{ notification.task.title }}
          <input type="checkbox" {% if notification.news_read %}checked{% endif %} onclick="markNewsRead('{{ notification.id }}')">
        </li>
      {% endif %}
    {% empty %}
      <li>Нет важных задач</li>
    {% endfor %}
  </ul>
  
  <h6>Новости:</h6>
  <ul>
    {% for notification in notifications %}
      {% if not notification.task %}
        <li id="notification-{{ notification.id }}">
          {{ notification.news.title }}
          <input type="checkbox" {% if notification.news_read %}checked{% endif %} onclick="markNewsRead('{{ notification.id }}')">
        </li>
      {% endif %}
    {% empty %}
      <li>Нет новых новостей</li>
    {% endfor %}
  </ul>
</div>

<script>
  function markNewsRead(notificationId) {
    fetch(`/mark_news_read/${notificationId}`, {
      method: 'POST',
      headers: {
        'Content-Type': 'application/json',
        'X-CSRFToken': '{{ csrf_token }}'
      },
      body: JSON.stringify({ notification_id: notificationId })
    })
    .then(response => response.json())
    .then(data => {
      // Удаление уведомления из блока после успешного обновления
      const notificationElement = document.getElementById(`notification-${notificationId}`);
      if (notificationElement) {
        notificationElement.remove();
      }
    })
    .catch(error => {
      // Обработка ошибки, если необходимо
    });
  }
</script>



<div class="personal-info">
    <div class="basic-info">
      <div class="avatar-container">
        <h4>Профиль сотрудника</h4>
        <img src="{% if profile.photo %}{{ profile.photo.url }}{% else %}{% static 'media/default_avatar.png' %}{% endif %}" class="avatar" width="150" height="150">
        <input type="file" id="avatar-input" name="avatar" style="display: none">
        <label for="avatar-input" class="upload-icon"></label>
      </div>
      <h2><span id="user-fullname">{{ user.get_full_name }}</span></h2>
      <p><span id="user-username">{{ user.username }}</span></p>
    </div>
    <div class="detailed-info" id="detailed-info">
      <ul>
        <li><strong>Телеграмм:</strong><br><span id="telegram">{{ profile.telegram }}</span></li>
        <li><strong>Команда:</strong><br><span id="team">{{ profile.team }}</span></li>
        <li>
          <strong>Почта:</strong><br>
          <span id="email">{{ profile.email }}</span>
          <i class="fas fa-pencil-alt icon-pencil" id="edit-email"></i>
        </li>
        <li><strong>Проект:</strong><br><span id="project">{{ profile.project }}</span></li>
      </ul>
      <a href="#" onclick="event.preventDefault(); document.getElementById('logout-form').submit();" class="logout">Выход</a>
      <form id="logout-form" method="POST" action="{% url 'logout' %}">
        {% csrf_token %}
      </form>
    </div>
</div>
    <div class="profile-info" style="display:none;">
        <input type="text" name="telegram" id="id_telegram">
        <input type="text" name="team" id="id_team">
        <input type="text" name="email" id="id_email">
        <input type="text" name="project" id="id_project">
    </div>
  </div>
  <script>
    var detailedInfo = document.getElementById("detailed-info");
    var detailedInfoLink = document.createElement("a");
    detailedInfoLink.innerText = "Подробная информация";
    detailedInfoLink.classList.add("detailed-info-link"); 
    detailedInfoLink.style.cursor = "pointer";

    detailedInfoLink.addEventListener("click", function() {
      if (detailedInfo.style.display === "block") {
        detailedInfo.style.display = "none";
      } else {
        detailedInfo.style.display = "block";
      }
    });

    

    detailedInfo.parentNode.insertBefore(detailedInfoLink, detailedInfo);
    detailedInfo.style.display = "none";
    
    var csrftoken = document.querySelector('[name=csrfmiddlewaretoken]').value;
    var avatarInput = document.getElementById("avatar-input");
    var avatarImg = document.querySelector(".avatar");
    var localStorageKey = "selectedAvatar";
    
    
    // Проверяем, есть ли сохраненный путь к фотографии в локальном хранилище
    var selectedAvatar = localStorage.getItem(localStorageKey);
    if (selectedAvatar) {
      avatarImg.src = selectedAvatar;
    }
    
    avatarImg.addEventListener("click", function() {
      avatarInput.click();
    });
    
    avatarInput.addEventListener("change", function() {
      var file = this.files[0];
      var reader = new FileReader();
      reader.onload = function() {
        avatarImg.src = reader.result;
        saveAvatar(file); // Сохранение аватара при загрузке файла
      };
      reader.readAsDataURL(file);
    });
    
    function saveAvatar(file) {
      var formData = new FormData();
      formData.append('avatar', file);
    
      fetch('/save_avatar/', { method: 'POST', body: formData, headers: { 'X-CSRFToken': csrftoken } })
        .then(response => {
          if (response.ok) {
            // Сохраняем путь к выбранной фотографии в локальном хранилище
            localStorage.setItem(localStorageKey, avatarImg.src);
          } else {
            // Обработка ошибки при сохранении фотографии
          }
        })
        .catch(error => console.log(error));
    }
    
    var userFullname = document.getElementById("user-fullname");
    var userUsername = document.getElementById("user-username");
    var userTelegram = document.getElementById("user-telegram");
    var userTeam = document.getElementById("user-team");
    var userEmail = document.getElementById("user-email");
    var userProject = document.getElementById("user-project");
    
    userFullname.innerText = "{{ user.get_full_name }}";
    userUsername.innerText = "{{ user.username }}";
    userTelegram.innerText = "{{ telegram }}";
    userTeam.innerText = "{{ team }}";
    userEmail.innerText = "{{ email }}";
    userProject.innerText = "{{ project }}";


    var emailField = document.getElementById("id_email");
    var teamField = document.getElementById("id_team");
    var telegramField = document.getElementById("id_telegram");
    var projectField = document.getElementById("id_project");

emailField.addEventListener("input", function() {
  userEmail.innerText = emailField.value;
});

teamField.addEventListener("input", function() {
  userTeam.innerText = teamField.value;
});

telegramField.addEventListener("input", function() {
  userTelegram.innerText = telegramField.value;
});

projectField.addEventListener("input", function() {
  userProject.innerText = projectField.value;
});

function saveProfile() {
  var formData = new FormData();
  formData.append('email', emailField.value);
  formData.append('team', teamField.value);
  formData.append('telegram', telegramField.value);
  formData.append('project', projectField.value);

  fetch('/save_profile/', {
    method: 'POST',
    body: formData,
    headers: {'X-CSRFToken': csrftoken}
  })
  .then(response => {
    if (response.ok) {
      // Данные профиля успешно сохранены
    } else {
      // Обработка ошибки при сохранении данных профиля
    }
  })
  .catch(error => {
    // Обработка ошибки
  });

  var editEmailIcon = document.getElementById("edit-email");
  var emailSpan = document.getElementById("email");
  
  editEmailIcon.addEventListener("click", function() {
    emailSpan.contentEditable = true;
    emailSpan.focus();
  });
  
  emailSpan.addEventListener("keypress", function(event) {
    if (event.key === "Enter") {
      event.preventDefault();
      emailSpan.contentEditable = false;
      saveProfile();
    }
  });
  
  emailSpan.addEventListener("blur", function() {
    emailSpan.contentEditable = false;
    saveProfile();
  });  
}
  </script>
  {% endblock %}
    
  
